<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="75%" class="comment-container">
    <div class="comment-box">
      <textarea [(ngModel)]='comment' [placeholder]='placeholderText'></textarea>
    </div>
    <div class="comment-submit">
      <button [disabled]='!comment' class="submit-button" (click)='submitComment()'>Comment</button>
    </div>
  </div>
  <div fxFlex></div>
</div>
<div class="comments">
  <div *ngFor='let comment of comments' class="comment">
    <div class="comment-name">{{comment?.name + ':'}}</div>
    <div class="comment-text">{{comment?.text}}</div>
  </div>
</div>