.login-form {
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  margin-top: 7%;
  padding: 2%;
}
.login-label {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.form-input {
  margin: 20px 10%;
}
.form-input input {
  width: 100%;
  border: 1px solid #7777;
  padding-left: 4px;
  height: 40px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border-radius: 6px;
}
.login-button {
  background-color: #90b4da;
  color: #fff;
  border-width: 1px;
  border-color: black;
  width: 60%;
  font-size: 16px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20%;
}
small {
  color: red;
}