/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Fjord One', serif;
  font-family: 'Raleway', sans-serif;
  color: #504040;
  background-color: #eae5e5;
  padding-bottom: 20%;
}
